---
layout: default
home: true
backgrounds: 
    - https://38.media.tumblr.com/8f7a67f757504133061be5764102a4a5/tumblr_inline_n4t68m6fSV1qb53xe.png
---
<br>
<br>
<br>
<h1> Hi, I'm Kadie :) </h1>
<figcaption>I'm an undergraduate studying computer science and chemical engineering at Cal. You can view my resume below or <a href="https://github.com/kadie16/kadie16.github.io/raw/master/assets/images/resume/Kadie_Jaffe_Resume_Latest.pdf"> download the pdf. </a></figcaption>

<div class="home">
    <ul class="post-list">
        {% if site.pagination %}
        {% assign source = site.categories.featured %}
        {% endif %}

        {% for post in source %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
                <div class="post-list-info">
                    <h2 class="post-list-title">{{ post.title }}</h2>
                    <span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                </div>
            </a>

            <img src="{{ post.thumb }}" class="post-list-thumb" />
        </li>
        {% endfor %}
    </ul>
    <img src = "https://raw.githubusercontent.com/kadie16/kadie16.github.io/master/assets/images/resume/Kadie_Jaffe_Resume_Latest.png">

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
    <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            Subscribe via RSS
            <i class="icon ion-social-rss"></i>
        </a>
    </p> -->
</div>
