<a href="#" class="sb-toggle-left">Menu
    <span class="nav-icon"></span>
</a>

<div class="sb-slidebar sb-left sb-style-push">
    <nav>
        <a href="{{ site.baseurl }}/"><h2 class="site-title">{{ site.title }}</h2></a>
        <ul class="sb-menu">
        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "page" %}
                <li class="sb-close {% if page.url == node.url %}active{% endif %}">
                    <a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <li class="sb-close"><a href="https://www.icloud.com/sharedalbum/#B03Grq0zw6DhcW"> Photo Stream </a> </li>
        </ul>

        <div class="site-info">
            <p><img src="https://github.com/kadie16/kadie16.github.io/raw/master/assets/images/KadieJaffe.jpg" alt="Kadie Jaffe" style="float:left;width:52px;height:100px;"> 
                By Kadie Jaffe 
                <br>
                <a href = "https://github.com/kadie16/kadie16.github.io/raw/master/assets/images/resume/Kadie%20Jaffe's%20Resume%20Complete.pdf"> Download Resume </a> 
                <br>
                <a href = "https://linkedin.com/in/kadiejaffe" > LinkedIn </a><br>
                <a href = "https://github.com/kadie16" > GitHub </a> <br>
                
            </p>
            
            <p>
            Copyright &copy; {{ site.time | date: '%Y' }}
            </p>
        </div>
    </nav>
</div>

